
.testsBlock {
  display: flex;
  justify-content: space-between;
  &__test {
    width: 47%;
    background: white;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #C4C4C4;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
    .hashtagsColor {
      color: #3783F5;
    }
    .testDescription {
      margin: 10px 0;
      padding: 10px 0;
      border-top: 1px solid #C4C4C4;
    }
    button {
      display: block;
      border-radius: 5px;
      margin-left: auto;
    }
  }
  &__test:hover {
    border: 1px solid #1AFBB7;
  }
}
.diagnosticsDone {
  display: block;
  margin-left: auto;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  background: #4148d0;
  background: linear-gradient(0deg,#4148d0 0%, #3aabe7 100%);
}