.profile {
  &__menu {
    background: #F2F6F9;
    font-size: 16px;
    margin-left: -20px; //to-do: delete after restatrt project, i change antd default files
  }
  &__personalinfo {
    margin: 20px 0;
    padding: 20px 30px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.25);
    .personalBlock {
      display: flex;
      &__left {
        width: 60%;
        .userInfo {
          color: darkslategrey;
          display: flex;
          flex-wrap: wrap;
          &__inner {
            font-weight: bold;
            align-self: center;
          }
          &__innerStock {
            align-self: center;
            margin-right: 10px;
          }
          &__innerIcon {
            font-size: 30px;
            margin-right: 10px;
          }
          &__innerBig {
            font-weight: bold;
            font-size: 52px;
            padding-right: 20px;
          }
        }
        .userInfoEdit {
          width: 45%;
          height: 40px;
          margin: 20px 20px 20px 0;
        }
      }
      &__right {
        width: 40%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 16px;
        line-height: 20px;
        .avatar {
          background: #86C8D7;
          width: 250px;
          height: 300px;
          margin: 20px;
        }
        button {
          border: none;
        }
        i {
          margin: 0 20px 0 0;
          font-size: 20px;
        }
      }
    }
    .personalButton {
      margin-top: 20px;
      margin-right: 20px;
      width: 250px;
      height: 40px;
      border-radius: 5px;
      background: #3783F5;
    }
    .certificateBlock {
      display: flex;
      flex-wrap: wrap;
      &__img {
        width: 35%;
        background: #3783F5;
      }
      &__desc {
        padding: 0 20px;
        flex-grow: 1;
        span {
          margin: 5px 0;
        }
        .certificateTitle {
          border-bottom: 2px solid black;
        }
        .certificateSkill {
          display: inline-block;
          border: 1px solid #3783F5;
          border-radius: 5px;
          min-width: 60px;
          text-align: center;
          padding: 0 5px;
          margin-right: 5px;
        }
        .certificateChecked {
          color: green;
        }
      }
    }
  }
  .ant-steps-item-active span.ant-steps-icon-dot {
    background: orange !important;
  }
  .timeline {
    margin-top: 30px;
  }
  .roadmapdescription {
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    .roadmapopup {
      font-size: 30px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
  .answerPopup {
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    .answerContent {
      position: relative;
      background: white;
      width: 70%;
      min-height: 80%;
      border-radius: 10px;
      display: flex;
      .closeButton {
        position: absolute;
        right: 0;
        margin-left: auto;
        color: gray;
        font-weight: bold;
      }
      &__text {
        padding: 50px;
        width: 100%;
        h3 {
          font-weight: bold;
          font-size: 30px;
          margin-bottom: 40px;
        }
        .resumeAreaPopup {
          display: inline-block;
          width: 27%;
          margin: 5px 0;
          vertical-align: top;
        }
        .datepicker {
          border-radius: 5px;
          margin: 5px;
          width: 20%;
        }
        .inputPopup {
          width: 100%;
        }
        .popupButton {
          display: block;
          margin-left: auto;
          margin-top: 20px;
          width: 250px;
          height: 40px;
          border-radius: 5px;
          background: #3783F5;
        }
      }
    }
  }
  &__video {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    .halfvideo {
      width: 50%;
    }
  }
  .videoplayer {
    max-width: 82%;
    height: auto;
    padding-top: 36%;
    background: #3783F5;
  }

  .introduce {
    display: flex;
    justify-content: space-between;
     &__half {
       width: 40%;
       p {
         font-size: 17px;
         margin-top: 20px;
         margin-bottom: 0;
       }
     }
  }
  .resume {
    margin-top: 20px;
    &__main {
      margin-top: 20px;
      .resumeFlex {
        display: flex;
        width: 100%;
        margin: 5px 0;
      }
      .resumeSpan {
        display: inline-block;
        width: 27%;
        margin: 20px 0;
      }
      .resumeSpan__tall {
        display: inline-block;
        width: 27%;
        margin: 30px 0;
      }
      .resumeArea {
        display: inline-block;
        width: 27%;
        margin: 5px 0;
        vertical-align: top;
      }
      .inputImitator {
        width: 50%;
        border-radius: 5px;
        margin: 5px 5px 5px 0;
      }
      .inputImitatorCenter {
        display: block;
        width: 50%;
        border-radius: 5px;
        margin: 5px auto 5px;
      }
      .datepicker {
        border-radius: 5px;
        margin: 5px 0;
      }
      button {
        border-radius: 5px;
      }
      .centerButton {
        display: block;
        margin: 0 auto;
      }
      .littleElemMargin {
        margin-left: 5px;
      }
      .iconSize {
        font-size: 18px;
        line-height: 24px;
      }
      .internshipBlock {
        display: flex;
      }
      .internshipText {
        width: 65%;
        margin-right: 10px;
        margin-bottom: 0;
      }
      .workXPform {
        display: flex;
        margin: 10px 0;
        width: 100%;
        &__child {
          display: flex;
          width: 100%;
          .workXPspan {
            width: 27%;
            margin: 20px 0;
          }
        }
      }
    }
  }
  .digital {
    color: red;
  }
  .digitalProgress {
    display: flex;
    justify-content: space-between;
  }
  .digitalCharts {
    display: flex;
    &__sunburst {
      padding: 20px;
      width: 50%;
      height: 350px;
    }
  }
  .chartSoftskill {
    width: 100%;
    padding: 20px;
    height: 400px;
  }
  .chartSoftskill1 {
    width: 100%;
    padding: 20px;
    height: 110px;
  }
  .chartSoftskill2 {
    width: 100%;
    padding: 20px;
    height: 160px;
  }
}
